/* Inline text style with bottom dot-line */

.green6bc6 {
    color: #6bc600;
}

.darkreda00 {
    color: #aa0000;
}

.darkredb00 {
    color: #bb0000;
}

.darkredc00 {
    color: #cc0000;
}

.darkredd00 {
    color: #dd0000;
}

.darkrede00 {
    color: #ee0000;
}

.darkred700 {
    color: #770000;
}

.darkred900 {
    color: #990000;
}


.dash1 {
    border-bottom: underline;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

span.dash2 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    /*    text-decoration-color: yellow; */
}

span.dash2y {
    color: #aabb00;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-decoration-thickness: 1px; 
    /*    text-decoration-color: yellow; */
}

span.dash2r {
    color: #ff0000;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    text-decoration-color: yellow;
    /*    text-decoration-color: red; */
}

.dash6 {
    border-bottom: underline;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
/*    border-bottom-color: green; */
}

.dash6y {
    color: #aabb00;
    border-bottom: underline;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: green;
}

.dash6y2 {
    color: #aabb00;
    border-bottom: underline;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: green;
}

.dash7 {
    border-bottom: underline;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}

.dash9 {
/*    font-size: 40px; */
    text-emphasis: dot;
    text-emphasis-color: currentColor;
    text-emphasis-position: under;
}

.dash10 {
    text-emphasis: "\25cf";
    text-emphasis-color: #009900;
    text-emphasis-position: under;
}

.dash11 {
    text-emphasis: "\262f";
    text-emphasis-color: currentColor; #暂时认为，会使用与文字相同的颜色。
    text-emphasis-position: under;
}

span.dash8 {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    text-decoration-thickness: 4px;
}

span.dash8y {
    color: #ffff00;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    text-decoration-thickness: 4px;
    text-decoration-color: red;
}

span.dash8r {
    color: #ff0000;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    text-decoration-thickness: 4px;
    text-decoration-color: yellow;
}

span.dash4 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: under;
    text-decoration-thickness: 1px;
}

.dash5 {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-underline-position: under;
    text-decoration-thickness: 1px;
}

.dash3 {
    border-bottom: underline;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}    
    
.yellow {
    color: yellow;
}   

:root{--sd-color-primary: #0071bc;--sd-color-secondary: #6c757d;--sd-color-success: #28a745;--sd-color-info: #2a2a2a;--sd-color-warning: #f0b37e;--sd-color-danger: #dc3545;--sd-color-light: #f8f9fa;--sd-color-muted: #6c757d;--sd-color-dark: #003d00;--sd-color-black: black;--sd-color-white: white;--sd-color-primary-highlight: #0060a0;--sd-color-secondary-highlight: #5c636a;--sd-color-success-highlight: #228e3b;--sd-color-info-highlight: #148a9c;--sd-color-warning-highlight: #cc986b;--sd-color-danger-highlight: #bb2d3b;--sd-color-light-highlight: #d3d4d5;--sd-color-muted-highlight: #5c636a;--sd-color-dark-highlight: #1c1f23;--sd-color-black-highlight: black;--sd-color-white-highlight: #d9d9d9;--sd-color-primary-text: #fff;--sd-color-secondary-text: #fff;--sd-color-success-text: #fff;--sd-color-info-text: #777;--sd-color-warning-text: #212529;--sd-color-danger-text: #fff;--sd-color-light-text: #212529;--sd-color-muted-text: #fff;--sd-color-dark-text: #960;--sd-color-black-text: #fff;--sd-color-white-text: #212529;--sd-color-shadow: rgba(0, 0, 0, 0.15);--sd-color-card-border: #004400;--sd-color-card-border-hover:#hsla(231, 99%, 66%, 1);--sd-color-card-background: transparent;--sd-color-card-text: inherit;--sd-color-card-header: transparent;--sd-color-card-footer: transparent;--sd-color-tabs-label-active: hsla(231, 99%, 66%, 1);--sd-color-tabs-label-hover: hsla(231, 99%, 66%, 1);--sd-color-tabs-label-inactive: hsl(0, 0%, 66%);--sd-color-tabs-underline-active: hsla(231, 99%, 66%, 1);--sd-color-tabs-underline-hover: rgba(178, 206, 245, 0.62);--sd-color-tabs-underline-inactive: transparent;--sd-color-tabs-overline: rgb(222, 222, 222);--sd-color-tabs-underline: rgb(222, 222, 222);--sd-fontsize-tabs-label: 1rem}

.sd-btn-outline-dark{color:var(--sd-color-info) !important;border-color:var(--sd-color-info) !important;border-width:4px !important;border-style:solid !important}